* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.s-Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.s-News {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.s-News__image {
  border-radius: 10px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
